html {
    width: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px !important;
}

.root {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}


.mainMenu, .round-banner, .pause-menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round-banner {
    display: none;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 8rem;
}


button {
    border-radius: 10rem;
    padding: 1rem;
    background-color: orange;
    border: 0;
    color: white;
    cursor: pointer;
}

button:hover {
    border: 1px solid black;
}


.player {
    width: 40px;
    height: 40px;
    background-image: url('./player-ship.png');
    position: absolute;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.enemy-ship {
    width: 40px;
    height: 40px;
    background-image: url('./enemy-ship.png');
    position: absolute;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.player-bullet {
    width: 3px;
    height: 20px;
    position: absolute;
    background: lime;
    border: 2px solid black;
}

.cloud {
    top: 0;
    width: 50px;
    height: 50px;
    background-image: url('./cloud.png');
    position: absolute;
    background-size: container;
    background-position: center center;
    background-repeat: no-repeat;
}

.score {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;

}

.pause-menu {
    display: none;
}
